useDynLib(MCMCglmm)
#import(MASS)
#import(corpcor)
#import(combinat)
#import(mvtnorm)
#import(orthopolynom)
#import(tensorA)
import(Matrix)
#export(merge.level)
#export(at.level)
#export(leg)
#import(coda)
export(
#  buildZ,
#  find.components,
#  split.direct.sum,
  commutation,
  Dtensor,
  evalDtensor,
  gelman.prior,
  Ddivergence,
  knorm,
  KPPM, 
  krzanowski.test,
  kunif,
  list2bdiag,
  MCMCglmm,
  mult.memb,
  sir,
  posterior.mode,
  posterior.cor,
  posterior.evals,
  plotsubspace,
#  priorformat,
  Ptensor,
  Tri2M,
  rbv,
  rIW,
  prunePed,
  Dexpressions,
  inverseA,
  sm2asreml,
  list2bdiag,
  at.set,
  at.level,
  leg,
  rtnorm,
  spl,
  summary.MCMCglmm,
  predict.MCMCglmm,
  residuals.MCMCglmm,
  plot.MCMCglmm
) 
S3method(summary, MCMCglmm)
S3method(print, summary.MCMCglmm)
S3method(predict, MCMCglmm)
S3method(residuals, MCMCglmm)
S3method(plot, MCMCglmm)


