useDynLib(MCMCglmm)
#import(MASS)
#import(corpcor)
#import(combinat)
#import(mvtnorm)
#import(orthopolynom)
#import(tensorA)
import(Matrix)
#export(merge.level)
#export(at.level)
#export(leg)
#import(coda)
export(
#  buildZ,
#  find.components,
#  split.direct.sum
  commutation,
  Dtensor,
  evalDtensor,
  Ddivergence,
  knorm,
  KPPM, 
  krzanowski.test,
  kunif,
  list2bdiag,
  MCMCglmm,
  posterior.mode,
  posterior.cor,
  posterior.evals,
  plotsubspace,
  plotprior,
  Ptensor,
  Tri2M,
  rbv,
  rIW,
  prunePed,
  Dexpressions,
  inverseA,
  sm2asreml,
  list2bdiag,
  at.set,
  at.level,
  leg,
  rtnorm,
  spl
) 


